.login__input {
  width: 358px;
  margin: 0 0 30px 13px;
  padding: 0;
  background-color: #000000;
  border: none;
  border-bottom:2px solid #CCCCCC;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  box-sizing: border-box;
  outline: none;
}

.login__input::placeholder {
  color: #CCCCCC;
}

.login__input:last-of-type {
  margin: 0 0 0 13px;
}